[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=george
Group=george


WorkingDirectory=/home/george/Information-Telegram-Bot/
Environment="PYTHONPATH=/home/george/Information-Telegram-Bot/"
ExecStart=/home/george/Information-Telegram-Bot/.venv/bin/python /home/george/Information-Telegram-Bot/main.py

[Install]
WantedBy=multi-user.target